<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload file show details</title>
</head>
<body>
<!--<form method="post" action="/upload" enctype="multipart/form-data" action="">-->

<!--</form>-->
<form method="post" action="/assessment/upload" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>
<!--<input id="ajaxfile" type="file"/> <br/>-->
<!--<button onclick="uploadFile()"> Upload </button>-->
<!--<script>-->
<!--    function uploadFile() {-->

<!--        var formData = new FormData();-->
<!--        formData.append("file", ajaxfile.files[0]);-->
<!--        $.ajax({-->
<!--            url: "test.html",-->
<!--            cache: false,-->
<!--            success: function(html){-->
<!--                $("#results").append(html);-->
<!--            }-->
<!--        });-->
<!--        alert('The file upload with Ajax and Java was a success!');-->
<!--    }-->
<!--</script>-->
</body>
</html>